body {
    background-color: #edc780;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
    animation: fadeIn 4s;
    scroll-behavior: smooth;
    overflow-y:hiddn;
}


#page1:active > #page1body{
  animation: Shake 100ms linear infinite;
}

#title:active > #titlebody{
  animation: Shake 100ms linear infinite;
}

body::-webkit-scrollbar{
    scroll-behavior: smooth;

  }

#title {
  display: block;
  flex-direction: row;
  text-align: justify;
  padding-top: 15%;
  padding-bottom: 10%;

}

#titlebody {
    justify-content: center;
  display: flex;
  flex-direction: row;
    text-align: center;
    font-size: 40px;
  }


  #page1body{
    justify-content: center;
    text-align: center;
    font-size: 5rem;
    color: #000000;
    display: flex;

  }

  .titlefade {
    animation: fadeIn 4s;
  }

.p1 {
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 80px;
  margin-top: 50px;
  animation: Up-Down1 1s linear infinite;
}
.p2 {
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 80px;
  margin-top: 50px;
  animation: Up-Down2 1s linear infinite;
}
.p3 {
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 80px;
  margin-top: 50px;
  animation: Up-Down3 1s linear infinite;
}

  .button {
    border: 5px solid rgb(0, 0, 0);
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 100px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight:600;
    margin-top: 40vh;
    margin-bottom: 100vh;
    margin-left: auto;
    margin-right: auto;
    animation: MoveUpDown 1s linear infinite;
    width: 20px;
    text-decoration: none;
  }

  .button:hover {
    background-color: white;
    border-color: white;
    color: #000000;
  }

  .button:active {
    animation: Arrowswoop 2s;
    display: none, 2s;
  }

  .button2 {
    border: 5px solid rgb(0, 0, 0);
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 100px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight:600;
    margin-top: 0vh;
    margin-left: auto;
    margin-right: auto;
    animation: MoveUpDown 1s linear infinite;
    width: 20px;
    text-decoration: none;
  }

  .button2:hover {
    background-color: white;
    border-color: white;
    color: #000000;
  }

  .button2:active #page1 {
    animation: Arrowswoop 2s;
  }


  @keyframes Shake {
    0%, 100% {
      transform: translateY(0);
      transform: translateX(0);
    }
    20% {
      transform: translateY(-2px);
      transform: translateX(-2px);
    }

    40% {
      transform: translateY(-2px);
      transform: translateX(2px);
    }

    60% {
      transform: translateY(2px);
      transform: translateX(2px);
    }

    80% {
      transform: translateY(2px);
      transform: translateX(-2px);
    }
  }

  @keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }

  @keyframes Up-Down1 {
    0%, 10% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-10px);
    }

    30% {
      transform: translateY(0);
    }
  }

  @keyframes Up-Down2 {
    0%, 10% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-10px);
    }

    40% {
      transform: translateY(0);
    }
  }

  @keyframes Up-Down3 {
    0%, 10% {
      transform: translateY(0);
    }
    45% {
      transform: translateY(-10px);
    }

    55% {
      transform: translateY(0);
    }
  }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }